*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(244, 228, 247, 1);
}

/* .violet-theme {
  --primary: 
} */
body {
    /* background-image: url("../images/logo-millenium.jpeg")  ; */
    margin: 0;
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    /* display: flex; */
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    /* color: #red; */
    background-color: rgba(0, 0, 0, 0.75) ; 
    background-image: radial-gradient( rgba(25, 25, 25, 0.75),rgba(66, 58, 62, 0.8));
}
.player {
    border: 0px solid red;
}
h2 {
  color: rgba(255, 255, 255, 0.80);
}
.playlist {
    /* border: 1px solid black; */
     /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    /* display: flex; */
    /* background-color: rgba(93, 73, 71, 1); */
    font-size: large;
    background-image: 
      radial-gradient(rgba(138, 126, 146, 0.531),rgba(138, 126, 146, 0.13));
    /* background-color: rgba(138, 126, 146, 0.91); */
    border-radius: 30px;
    /* box-shadow:rgb(172, 116, 227) 3px 5px 10px 5px; */
    
    border: 1px solid rgba(244, 228, 247, 1) ;
    box-shadow: rgba(244, 228, 247, 0.85) 0px 1px 1px 3px;
 
    margin: 5% 2%;
    padding: 2%;
}
.flex-div{
  display:flex; 
  flex-direction: row-reverse; 
  align-items: center;
  justify-content: space-between;
}

.about-text {
  /* text-indent: 5px; */
  max-width: 40%;
  text-align: justify;
  text-align-last: start;
  /* margin: 5px 10px; */
  margin-right: 10%;
  padding: 10px;
}

#player-container {
  position: fixed;
  bottom: 10px;
  right: auto;
  left: auto;
  margin: 0;
  margin-bottom: 5px;
  /* background-image:  */
      /* radial-gradient(rgba(138, 126, 146, 11),rgba(138, 126, 146, 0.13)); */
  
  border-radius: 30px;
  /* padding: 0; */
  /* width: 50%; */
  /* width: 80% ; */
  /* right: 10px; */
}
.playlist-item {
    /* border-bottom: 1px solid rgb(172, 116, 227); */
    background-image: 
      radial-gradient(rgba(100, 93, 104, 0.53),rgba(66, 62, 69, 0.904));
    
    border: 1px solid rgba(244, 228, 247, 1);
    /* box-shadow: rgba(244, 228, 247, 0.75) 0px 1px 1px 2px; */
    margin: 1% 1%;
    padding: 1%;
    border-radius: 15px;
    /* background-color: rgba(230, 219, 241, 0.8); */
    /* background-color: rgba(93, 73, 71, 0.5) ; */
    
}
@keyframes blink {
  from {
    border: 2px solid rgba(78, 227, 10, 0.95);
    box-shadow: rgba(59, 221, 30, 0.95) 0px 1px 1px 2px;
  
  }
  to {
    border: 2px solid rgba(110, 156, 135, 0.741);
    box-shadow: rgba(110, 156, 135, 0.95) 0px 1px 1px 2px;
  
  }
}
.playlist-item:hover {
  /* border-bottom: 1px solid rgb(172, 116, 227); */
  /* background-image: 
    radial-gradient(rgba(100, 93, 104, 0.53),rgba(66, 62, 69, 0.904));
  
  border: 1px solid rgba(244, 228, 247, 1); */
  color: white;
  font-size: large;
  border: 2px solid rgba(110, 156, 135, 0.741);
  box-shadow: rgba(110, 156, 135, 0.95) 0px 1px 1px 2px;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  /* margin: 1% 1%;
  padding: 1%;
  border-radius: 15px; */
  /* background-color: rgba(230, 219, 241, 0.8); */
  /* background-color: rgba(93, 73, 71, 0.5) ; */
  
}
.highlight {
  color: white;
  font-size: large;
  border: 2px solid rgba(78, 227, 10, 0.95);
  box-shadow: rgba(59, 221, 30, 0.95) 0px 1px 1px 2px;
 
}
.description {
  display: none;
}
.no-display {
  display: none;
}
.playlist-item:hover .description {
  font-size: medium;
  margin: 3px 2px;
  padding: 2px;
  display: block;
  color: white;
}
.container {
  padding: 5%;
    border: 0px solid red;
}

#play {
    padding: 0;
    border: none;
    background: none;
}

#pButton {
    float: left;
  }
  
  #timeline {
    width: 90%;
    height: 2px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.3);
  }
  
  #pButton {
    margin-top: 12px;
    cursor: pointer;
  }
  
  #playhead {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -3px;
    background: black;
    cursor: pointer;
  }


 /* space between parts */
 
  
  .music-player {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: auto;
    display: block;
    width: 100%;
    height: 120px;
    /* border-radius: 6px; */
    overflow: hidden;
    /* border-bottom: 1px solid #fb8500; */ 
    /* border-bottom: 10px solid rgb(172, 116, 227); */
    
    
    /* background-color: rgba(93, 73, 71, 0.8); */
    border: 1px solid rgba(244, 228, 247, 0.9);
    box-shadow: rgba(244, 228, 247, 0.75) 0px 1px 1px 2px;
    margin: 1% 1%;
    padding: 1%;
    border-radius: 35px;
    /* background-color: rgba(230, 219, 241, 0.8); */
    /* background-color: rgba(93, 73, 71,  0.5) ; */
    background-image: 
      radial-gradient(rgba(66, 62, 69, 1),rgba(100, 93, 104, 0.53));    
    /* background-color: rgba(230, 219, 241, 0.8) */


    /* border: 1px solid red; */
  }
  
  .player-main {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 472px;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid red; */
    
  }
  .centralize-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;

  }
  .container-row {
    height: 100vh;
    margin-top: 50px;
    padding: 5%;
    /* border: 1px solid red ; */
  }
  
  .main-current {
    margin-bottom: 36px;
  }
  .main-current .current-keyvisual {
    position: relative;
    display: inline-block;
  }
  .main-current .current-keyvisual img {
    position: relative;
    z-index: 2;
    width: 132px;
    height: auto;
    border-radius: 4px;
  }
  .main-current .current-keyvisual:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 95%;
    height: 80%;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/329679/music-player-freebie-photo.png);
    background-size: cover;
    -webkit-filter: blur(35px);
            filter: blur(35px);
  }
  .main-current .current-info {
    display: inline-block;
    padding: 15px 0 0 24px;
    box-sizing: content-box;
    vertical-align: top;
  }
  .main-current .current-info h1, .main-current .current-info p {
    margin: auto;
    padding: 0;
  }
  .main-current .current-info h1 {
    margin-bottom: 13px;
    font-size: 20px;
    color: #26107B;
  }
  .main-current .current-info p {
    font-size: 12px;
    color: #26107B;
  }
  
  .main-control {
    position: relative;
    line-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-control .btn {
    display: inline-block;
    width: 30px;
    height: 25px;
    vertical-align: middle;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    opacity: .75;
  }
  .main-control .btn:hover {
    opacity: 1;
  }
  .main-control .btn._previous {
    margin-right: 17px;
    
    /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/329679/music-player-freebie-previous.svg"); */
    background-image: url("../feather/skip-back.svg");
    background-size: auto 80%;
  }
  .main-control .btn._pause {
    margin-right: 17px;
    background-image: url("../feather/pause.svg");
  }
  .main-control .btn._play {
    margin-right: 17px;
    /* color: white; */
    background-image: 
      /* linear-gradient(rgba(230, 219, 241, 1),transparent), */
      url("../feather/play.svg");

  }
  .main-control .btn._volumeinc {
    margin-right: 17px;
    background-image: url("../feather/plus.svg");
    /* background-size: 80%; */
  }

  .main-control .btn._volumedec {
    margin-right: 17px;
    background-image: url("../feather/plus.svg");
    /* background-size: 80%; */
  }

  .main-control .btn._volume {
    margin-right: 17px;
    background-image: url("../feather/plus.svg");
    /* background-size: 80%; */
  }

  .main-control .btn._next {
    margin-right: 24px;
    background-image: url("../feather/skip-forward.svg");
    /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/329679/music-player-freebie-next.svg"); */
    background-size: auto 80%;
  }
  .main-control .btn._timeline {
    vertical-align: middle;
    height: auto;
    width: auto;
    opacity: 1;
    /* border:  1px solid red; */
  }
  .main-control .btn._timeline > span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    /* color: #26107B; */
    color: white;
  }
  .main-control .btn._timeline > span.timescope {
    position: relative;
    margin: auto 12px;
    width: 180px;
    height: 3px;
    border-radius: 20px;
  }
  .main-control .btn._timeline > span.timescope:before, .main-control .btn._timeline > span.timescope:after,
  .main-control .btn._timeline > span.timescope .timescope-dot {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 100%;
    /* background-color: #26107B; */
    background-color: white;
    cursor: pointer;
    z-index: 1;
  }
  .main-control .btn._timeline > span.timescope:before {
    width: 100%;
    opacity: .2;
  }
  .main-control .btn._timeline > span.timescope:after {
    width: var(--percentage);
  }
  .main-control .btn._timeline > span.timescope .timescope-dot {
    top: -2.5px;
    left: 0%;
    z-index: 3;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }

  